<footer class="footer l-footer">
  <div class="footer__inner l-inner">
    <div class="footer__content">
      <div class="footer__info">
        <p class="footer__info-head">注意</p>
        <div class="footer__info-body">
          <p class="footer__info-text">
            Androidの方はGoogleアカウント、iPhoneの方はApple IDが必要です。<br />
            ios11以上 / Android8.0以上を推奨環境とします。<br />
            （最新の対応OSや対応機種については、各ストアでご確認ください。）<br />
            お客様のネット環境および携帯端末により、アプリをご利用いただけない場合があります。<br />
            ご理解、ご了承いただきますよう、お願いいたします。<br />
            タブレットなどの一部の端末では画面表示がくずれることがあります。<br />
            本アプリは無料ですが、別途各通信会社の通信料がかかります。<br />
            本サービスは予告なく内容を変更することや、終了することがあります。
          </p>
        </div>
      </div>
      <div class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="">おん達のここがすごい</a>
          </li>
          <li class="footer__nav-item">
            <a href="">アプリの使い方</a>
          </li>
          <li class="footer__nav-item">
            <a href="">利用規約</a>
          </li>
          <li class="footer__nav-item">
            <a href="">よくある質問</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <small>Copyright©2024 BUNRI CO., LTD</small>
  </div>
</footer>
