<header class="header js-header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/"
        ><img src="./assets/images/logo.svg" alt="LOGO" width="166" height="70"
      /></a>
    </h1>
    <div class="header__buttons">
      <div class="header__button">
        <a
          href="https://www.amazon.co.jp/stores/page/EAB451A0-9788-4A0F-9DCD-2760D63A2A51?channel=lp"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          >Amazon文理ショップ</a
        >
      </div>
      <div class="header__button">
        <a
          href="https://liff-gateway.lineml.jp/landing?follow=%40507bzmdr&lp=pT3XPF&liff_id=1661107673-ORnApnoP"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
          >line公式アカウント</a
        >
      </div>
    </div>
  </div>
</header>
