<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/"
        ><img src="./assets/images/logo.svg" alt="LOGO" width="166" height="70"
      /></a>
    </h1>
    <div class="header__buttons">
      <div class="header__button">
        <a href="" target="_blank" rel="noopener noreferrer" class="button"
          >Amazon文理ショップ</a
        >
      </div>
      <div class="header__button">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
          >line公式アカウント</a
        >
      </div>
    </div>
  </div>
</header>
