@use "global" as *;

.dl {
}

.dl__inner {
}

.dl__content {
  max-width: rem(560);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.dl__info-wrap {
  padding: rem(13) rem(15);
  border: 3px solid $orange;
  border-radius: rem(10);
  display: flex;
  position: relative;
  max-width: rem(358);
  width: 100%;
}

.dl__info-text {
  font-size: rem(13);
  font-weight: $medium;
  color: $orange2;
  line-height: calc(20 / 13);
}

.dl__info-text--bold {
  @extend .dl__info-text;
  font-weight: $bold;
}

.dl__info-text--bold span {
  width: fit-content;
  background-color: $offwhite;
}

.dl__img {
  width: rem(124);
  position: absolute;
  top: rem(-18);
  right: rem(-8);
}

.dl__img img {
  aspect-ratio: 199/239;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dl__title {
  font-size: rem(20);
  font-weight: $medium;
  line-height: calc(32 / 20);
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(36);
  }
}

.dl__buttons {
  margin-top: rem(16);
}

.dl__risukero {
  margin-top: rem(20);
  // margin-inline: auto;
  max-width: rem(265);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.dl__risukero img {
  aspect-ratio: 265/100;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
