@use "global" as *;

.footer {
}

.footer__inner {
}

.footer__content {
}

.footer__info {
}

.footer__copyright {
  margin-top: rem(25);
  padding: rem(12) 0 rem(13);
  border-top: 1px solid $gray;
  text-align: center;
}

.footer__copyright small {
  font-size: rem(12);
  font-weight: $regular;
  color: $darkgray;
}
