@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background-color: $white;
  border-bottom: 1px solid $darkgray;
  height: rem(100);
}

.header__inner {
  height: inherit;
  width: 100%;
  padding: 0 rem(16);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include mq("md") {
    margin-inline: auto;
    max-width: rem(1000);
  }
}

.header__logo {
  display: flex;
}

.header__logo a {
  display: inline-block;
  height: inherit;
  width: rem(120);
  @include mq("md") {
    width: rem(166);
  }
}

.header__logo img {
  aspect-ratio: 120 / 51;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: rem(1);
  @include mq("md") {
    flex-direction: initial;
    gap: rem(20);
  }
}
