@use "global" as *;


.info-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 rem(30);
  row-gap: rem(8);
}

.info-nav__item {
  width: fit-content;
  padding: 0 rem(6);
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  line-height: 1;
}

.info-nav__item:not(:first-child) {
  margin-left: -1px;
}

.info-nav__item a {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1;
}
