@use "global" as *;

.section-head {
  text-align: center;
  font-size: rem(24);
  font-weight: $bold;
  color: $white;
  line-height: calc(32 / 24);
  background-color: $orange;
  padding: rem(11) rem(20);
}
