@use "global" as *;




.sub-info__wrapper {
  padding: rem(30) 0 rem(40);
  @include mq("md") {
    padding-top: rem(24);
  }
}

.sub-info__content {
  padding: rem(12) rem(16);
  border: 1px solid $gray;
  height: rem(194);
  overflow: hidden;
  overflow-y: scroll;
  font-family: $third-font;
  @include mq("md") {
    padding: rem(40);
    height: rem(300);
  }
}

.sub-info__date {
  text-align: right;
  font-size: rem(17);
  font-weight: $medium;
  line-height: 1;
  @include mq("md") {
    font-size: rem(14);
  }
}

.sub-info__title {
  margin-top: rem(12);
  text-align: center;
  font-size: rem(17);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(18);
  }
}

.sub-info__title span {
  display: block;
}

.sub-info__items {
  margin-top: rem(25);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.sub-info__item {
}

.sub-info__term {
  font-size: rem(18);
  font-weight: $medium;
  line-height: calc(22 / 12);
  @include mq("md") {
    font-size: rem(12);
  }
}

.sub-info__description {
  word-break: break-all;
  padding-left: rem(4);
  text-align: justify;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  @include mq("md") {
    font-size: rem(12);
    line-height: 1.8;
  }
}

.sub-info__description-numbers {
  padding-left: rem(18);
  list-style: auto;
  @include mq("md") {
    padding-left: rem(22);
  }
}

.sub-info__description-numbers--inside {
  @extend .sub-info__description-numbers;
  @include mq("md") {
    padding-left: rem(40);
  }
}

.sub-info__description-number {
  text-align: justify;
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  @include mq("md") {
    font-size: rem(12);
    line-height: 1.8;
  }
}

.sub-info__description-numbers--inside .sub-info__description-number {
  font-size: rem(16);
  @include mq("md") {
    font-size: rem(12);
    line-height: 1.8;
  }
}
