@use "global" as *;

.support {
}

.support__inner {
}

.support__content {
}

.support__buttons {
  display: grid;
  // flex-direction: column;
  // align-items: center;
  gap: rem(30);
  text-align: center;
  @include mq("md") {
    display: flex;
  }
}

.support__button {
  @include mq("md") {
    flex: 1;
  }
}

.support__dl {
  margin-top: rem(46);
  @include mq("md") {
    margin-inline: auto;
  }
}

.support__dl-img {
}

.support__dl-img img {
  aspect-ratio: 309/151;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.support__dl-buttons {
  margin-top: rem(12);
}
