@use "global" as *;

.totop {
  position: fixed;
  bottom: rem(10);
  right: rem(5);
  z-index: 1000;
  width: rem(67);
  height: rem(67);
  @include mq("md") {
    right: rem(20);
  }
}

.totop button {
  padding: 0;
}
