<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- meta情報 -->
    <title>おん達 ｜ 文理のはつおん上達アプリ</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- ogp -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!-- ファビコン -->
    <link rel="icon" href="" />
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- JavaScript -->
    <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="./assets/js/script.js"></script>
  </head>
  <body>
    <%- include('ejs/header'); %>
    <main class="l-main">
      <section class="mv">
        <div class="mv__inner inner">
          <div class="mv__wrapper">
            <div class="mv__content">
              <h2 class="mv__title">小学教科書ワーク英語　無料付録アプリ</h2>
              <div class="mv__title-wrap">
                <div class="mv__title-img">
                  <img
                    src="./assets/images/mv-title.svg"
                    alt="文理のはつおん上達アプリ｜おん達"
                    width="293"
                    height="121"
                  />
                </div>
                <div class="mv__risukero">
                  <img
                    src="./assets/images/mv-risukero.svg"
                    alt="リスとカエルのイラスト"
                    width="169"
                    height="126"
                  />
                </div>
              </div>
              <p class="mv__read">
                英語の発音をAIが採点！<br class="u-mobile" />
                発音がどんどん上手に！
              </p>
              <div class="mv__bottom-wrap">
                <div class="mv__img">
                  <img
                    src="./assets/images/mv-img@2x.webp"
                    alt="小学教科書ワーク｜英語"
                    width="180"
                    height="118"
                  />
                </div>
                <div class="mv__text-wrap">
                  <p class="mv__text">
                    『小学教科書ワーク 英語』の<br /><span class="mv__keyword"
                      >わくわく英語カード</span
                    ><span class="mv__space">と</span
                    ><span class="mv__keyword--large"
                      >「重要表現まるっと整理」</span
                    ><br />に対応しています
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="dl l-dl">
        <div class="dl__inner inner">
          <div class="dl__content">
            <div class="dl__info-wrap">
              <div class="dl__info">
                <p class="dl__info-text">
                  小学教科書ワーク4科目セット付録<br
                    class="u-mobile"
                  />わくわく英語ドリルよりお越しの方も、<br />
                </p>
                <p class="dl__info-text--bold">
                  <span
                    >インストール方法や使い方は<br
                      class="u-mobile"
                    />製品版と同様になります。</span
                  >
                </p>
              </div>
              <div class="dl__img">
                <img
                  src="./assets/images/drill@2x.webp"
                  alt="英語ドリルのイラスト"
                  width="99"
                  height="119"
                />
              </div>
            </div>
            <h2 class="dl__title">インストールはこちら</h2>
            <div class="dl__buttons dl-buttons">
              <div class="dl-buttons__button">
                <a
                  href="https://apps.apple.com/jp/app/id1498426803"
                  class="dl-buttons__app"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="./assets/images/dl-app@2x.webp"
                    alt="AppStoreからダウンロード"
                    width="152"
                    height="56"
                /></a>
                <p class="dl-buttons__text">iPhone/iPadはこちらから</p>
              </div>
              <div class="dl-buttons__button">
                <a
                  href="https://play.google.com/store/apps/details?id=jp.co.bunri.ontatsu.en.android&hl=ja
                  "
                  class="dl-buttons__google"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="./assets/images/dl-google@2x.webp"
                    alt="GooglePlayで手に入れよう"
                    width="189"
                    height="56"
                /></a>
                <p class="dl-buttons__text">Androidスマホはこちらから</p>
              </div>
            </div>
            <div class="dl__risukero">
              <img
                src="./assets/images/risukero1.svg"
                alt="リスとカエルのイラスト"
                width="265"
                height="100"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="intro" class="intro">
        <h2 class="intro__head section-head">おん達のここがすごい！</h2>
        <div class="intro__inner">
          <div class="intro__content l-intro-content">
            <div class="intro__img">
              <img
                src="./assets/images/intro_1@2x.webp"
                alt="ネイティブによるお手本"
                width="148"
                height="148"
              />
            </div>
            <div class="intro__img">
              <img
                src="./assets/images/intro_2@2x.webp"
                alt="単語も会話フレーズも"
                width="148"
                height="148"
              />
            </div>
            <div class="intro__img">
              <img
                src="./assets/images/intro_3@2x.webp"
                alt="一連の会話を通して練習"
                width="148"
                height="148"
              />
            </div>
            <div class="intro__img">
              <img
                src="./assets/images/intro_4@2x.webp"
                alt="発音をAIが採点！"
                width="148"
                height="148"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="usage" class="usage">
        <h2 class="usage__head section-head">アプリの使い方</h2>
        <div class="usage__inner inner">
          <div class="usage__tab tab">
            <ul class="tab__head">
              <li
                class="tab__head-item js-tab-head is-active"
                data-number="tab01"
              >
                iOS版
              </li>
              <li class="tab__head-item js-tab-head" data-number="tab02">
                Android版
              </li>
            </ul>
            <ul class="tab__content">
              <li
                id="tab01"
                class="tab__content-item js-tab-content-item is-active"
              >
                <div class="tab__index">
                  <p class="tab__index-head">index</p>
                  <div class="tab__menu-wrap">
                    <ul class="tab__menu">
                      <li class="tab__menu-item">
                        <a href="#ios01">初めて使うとき</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#ios02">たんご</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#ios03">かいわ</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#ios04">とっくん</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#ios05">学年のきりかえ</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#ios06">履歴の削除</a>
                      </li>
                    </ul>
                    <div class="tab__menu-img-wrap">
                      <div class="tab__menu-img">
                        <img
                          src="./assets/images/risukero2.svg"
                          alt="リスとカエルのイラスト"
                          width="107"
                          height="120"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="tab__flow">
                  <li id="ios01" class="tab__flow-section">
                    <h3 class="tab__flow-title">初めて使うとき</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img1">
                        <img
                          src="./assets/images/ios_1@2x.webp"
                          alt="ログイン画面の画像"
                          width="315"
                          height="262"
                          loading="lazy"
                        />
                      </div>
                      <p class="tab__flow-text-left flow-text">
                        アプリを起動するとログイン画面になります。<br />
                        「アクセスコード<span>★</span>」を入力し、ログインしてください。<br />
                        ログイン後、画面下部のメニューから練習に進めます。
                      </p>
                      <div class="tab__flow-img2">
                        <img
                          src="./assets/images/ios_2@2x.webp"
                          alt="メニュー部分の画像"
                          width="292"
                          height="72"
                          loading="lazy"
                        />
                      </div>
                      <div class="tab__flow-info">
                        <p class="tab__flow-info-title">
                          ★アクセスコードとは？
                        </p>
                        <p class="tab__flow-info-text flow-text">
                          「小学教科書ワーク
                          英語」に記載されている8桁の英数字です。<br />以下のいずれかをご確認ください。<br />
                          ①「この本のくわしい使い方」４ページ<br />
                          ②「重要表現まるっと整理」の扉ページ
                        </p>
                        <p class="tab__flow-info-text flow-text--small">
                          ※わくわく英語ドリルに付属する体験版のアクセスコードは、同ドリルの１ページに記載されています。
                        </p>
                      </div>
                      <div class="tab__flow-illust">
                        <img
                          src="./assets/images/risukero3.svg"
                          alt="リスとカエルのイラスト"
                          width="231"
                          height="86"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="ios02" class="tab__flow-section">
                    <h3 class="tab__flow-title">たんご</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text flow-text">
                        教科書ワーク付録カードの英単語が登場します。
                      </p>
                      <h4 class="tab__flow-head flow-text--white">
                        トレーニング
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/ios_3@2x.webp"
                          alt="練習画面の画像"
                          width="310"
                          height="231"
                          loading="lazy"
                        />
                      </div>
                      <h4 class="tab__flow-head flow-text--white">
                        チャレンジ
                      </h4>
                      <div class="tab__flow-img4">
                        <img
                          src="./assets/images/ios_4@2x.webp"
                          alt="練習画面の画像"
                          width="310"
                          height="226"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="ios03" class="tab__flow-section">
                    <h3 class="tab__flow-title">かいわ</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text flow-text">
                        教科書ワーク「重要表現まるっと整理」の<br
                          class="u-mobile"
                        />会話表現の練習ができます。
                      </p>
                      <h4 class="tab__flow-head flow-text--white">
                        トレーニング
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/ios_3@2x.webp"
                          alt="練習画面の画像"
                          width="310"
                          height="231"
                          loading="lazy"
                        />
                      </div>
                      <h4 class="tab__flow-head flow-text--white">
                        チャレンジ
                      </h4>
                      <div class="tab__flow-img6">
                        <img
                          src="./assets/images/ios_5@2x.webp"
                          alt="練習画面の画像"
                          width="314"
                          height="234"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="ios04" class="tab__flow-section">
                    <h3 class="tab__flow-title">とっくん</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text flow-text">
                        「かいわ」の内容をまとめて練習できます。<br />
                        あなたの発音がどう聞こえたのかが表示され、<br />
                        じっくり練習することができます。
                      </p>
                      <div class="tab__flow-img5">
                        <img
                          src="./assets/images/ios_6@2x.webp"
                          alt="練習画面の画像"
                          width="311"
                          height="218"
                          loading="lazy"
                        />
                      </div>
                      <div class="tab__flow-illust">
                        <img
                          src="./assets/images/risukero4.svg"
                          alt="リスとカエルのイラスト"
                          width="230"
                          height="86"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="ios05" class="tab__flow-section">
                    <h3 class="tab__flow-title">学年のきりかえ</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img7">
                        <img
                          src="./assets/images/ios_7@2x.webp"
                          alt="ホーム画面の画像"
                          width="311"
                          height="254"
                          loading="lazy"
                        />
                      </div>
                      <p class="tab__flow-text--middle flow-text">
                        ホームの「学年変更」をタップし、<br />
                        ログイン画面で別のアクセスコードを<br
                          class="u-mobile"
                        />入力します。
                      </p>
                      <p class="tab__flow-text--middle flow-text">
                        一度アクセスコードを入力したことがあれば、<br />
                        タイトル下の表紙画像のロックが外れています。<br />取り組みたい学年の表紙画像を<br
                          class="u-mobile"
                        />
                        タップしてください。
                      </p>
                      <div class="tab__flow-info">
                        <p class="tab__flow-info-title">★有効期限について</p>
                        <p class="tab__flow-info-text flow-text">
                          本アプリはアクセスコードを入力してから15か月間ご利用いただけます。
                        </p>
                        <p class="tab__flow-info-text flow-text--small">
                          ※わくわく英語ドリルに付属する体験版については、アクセスコード入力時から3か月間になります。
                        </p>
                      </div>
                    </div>
                  </li>
                  <li id="ios06" class="tab__flow-section">
                    <h3 class="tab__flow-title">履歴の削除</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img7">
                        <img
                          src="./assets/images/ios_8@2x.webp"
                          alt="ホーム画面の画像"
                          width="316"
                          height="287"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li id="tab02" class="tab__content-item js-tab-content-item">
                <div class="tab__index">
                  <p class="tab__index-head">index</p>
                  <div class="tab__menu-wrap">
                    <ul class="tab__menu">
                      <li class="tab__menu-item">
                        <a href="#android01">初めて使うとき</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#android02">たんご</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#android03">かいわ</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#android04">とっくん</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#android05">学年のきりかえ</a>
                      </li>
                      <li class="tab__menu-item">
                        <a href="#android06">履歴の削除</a>
                      </li>
                    </ul>
                    <div class="tab__menu-img-wrap">
                      <div class="tab__menu-img">
                        <img
                          src="./assets/images/risukero2.svg"
                          alt="リスとカエルのイラスト"
                          width="107"
                          height="120"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="tab__flow">
                  <li id="android01" class="tab__flow-section">
                    <h3 class="tab__flow-title">初めて使うとき</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img1">
                        <img
                          src="./assets/images/android_1@2x.webp"
                          alt="ログイン画面の画像"
                          width="315"
                          height="262"
                          loading="lazy"
                        />
                      </div>
                      <p class="tab__flow-text-left flow-text">
                        アプリを起動するとログイン画面になります。<br />
                        「アクセスコード<span>★</span>」を入力し、ログインしてください。<br />
                        ログイン後、画面下部のメニューから練習に進めます。
                      </p>
                      <div class="tab__flow-img2">
                        <img
                          src="./assets/images/android_2@2x.webp"
                          alt="メニュー部分の画像"
                          width="292"
                          height="64"
                          loading="lazy"
                        />
                      </div>
                      <div class="tab__flow-info">
                        <p class="tab__flow-info-title">
                          ★アクセスコードとは？
                        </p>
                        <p class="tab__flow-info-text flow-text">
                          「小学教科書ワーク
                          英語」に記載されている8桁の英数字です。<br />以下のいずれかをご確認ください。<br />
                          ①「この本のくわしい使い方」４ページ<br />
                          ②「重要表現まるっと整理」の扉ページ
                        </p>
                        <p class="tab__flow-info-text flow-text--small">
                          ※わくわく英語ドリルに付属する体験版のアクセスコードは、同ドリルの１ページに記載されています。
                        </p>
                      </div>
                      <div class="tab__flow-illust">
                        <img
                          src="./assets/images/risukero3.svg"
                          alt="リスとカエルのイラスト"
                          width="231"
                          height="86"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="android02" class="tab__flow-section">
                    <h3 class="tab__flow-title">たんご</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text flow-text">
                        教科書ワーク付録カードの英単語が登場します。
                      </p>
                      <h4 class="tab__flow-head flow-text--white">
                        トレーニング
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/android_3@2x.webp"
                          alt="練習画面の画像"
                          width="304"
                          height="215"
                          loading="lazy"
                        />
                      </div>
                      <h4 class="tab__flow-head flow-text--white">
                        チャレンジ
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/android_4@2x.webp"
                          alt="練習画面の画像"
                          width="310"
                          height="227"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="android03" class="tab__flow-section">
                    <h3 class="tab__flow-title">かいわ</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text-top flow-text">
                        教科書ワーク「重要表現まるっと整理」の<br
                          class="u-mobile"
                        />会話表現の練習ができます。
                      </p>
                      <h4 class="tab__flow-head flow-text--white">
                        トレーニング
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/android_3@2x.webp"
                          alt="練習画面の画像"
                          width="304"
                          height="215"
                          loading="lazy"
                        />
                      </div>
                      <h4 class="tab__flow-head flow-text--white">
                        チャレンジ
                      </h4>
                      <div class="tab__flow-img3">
                        <img
                          src="./assets/images/android_5@2x.webp"
                          alt="練習画面の画像"
                          width="314"
                          height="234"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="android04" class="tab__flow-section">
                    <h3 class="tab__flow-title">とっくん</h3>
                    <div class="tab__flow-body">
                      <p class="tab__flow-text flow-text">
                        「かいわ」の内容をまとめて練習できます。<br />
                        あなたの発音がどう聞こえたのかが表示され、<br />
                        じっくり練習することができます。
                      </p>
                      <div class="tab__flow-img5">
                        <img
                          src="./assets/images/android_7@2x.webp"
                          alt="練習画面の画像"
                          width="311"
                          height="254"
                          loading="lazy"
                        />
                      </div>
                      <div class="tab__flow-illust">
                        <img
                          src="./assets/images/risukero4.svg"
                          alt="リスとカエルのイラスト"
                          width="230"
                          height="86"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                  <li id="android05" class="tab__flow-section">
                    <h3 class="tab__flow-title">学年のきりかえ</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img6">
                        <img
                          src="./assets/images/android_7@2x.webp"
                          alt="ホーム画面の画像"
                          width="311"
                          height="254"
                          loading="lazy"
                        />
                      </div>
                      <p class="tab__flow-text--middle1 flow-text">
                        ホームの「学年変更」をタップし、<br />
                        ログイン画面で別のアクセスコードを<br />入力します。
                      </p>
                      <p class="tab__flow-text--middle2 flow-text">
                        一度アクセスコードを入力したことがあれば、<br />
                        タイトル下の表紙画像のロックが外れています。<br />取り組みたい学年の表紙画像を<br />
                        タップしてください。
                      </p>
                      <div class="tab__flow-info">
                        <p class="tab__flow-info-title">★有効期限について</p>
                        <p class="tab__flow-info-text flow-text">
                          本アプリはアクセスコードを入力してから15か月間ご利用いただけます。
                        </p>
                        <p class="tab__flow-info-text flow-text--small">
                          ※わくわく英語ドリルに付属する体験版については、アクセスコード入力時から3か月間になります。
                        </p>
                      </div>
                    </div>
                  </li>
                  <li id="android06" class="tab__flow-section">
                    <h3 class="tab__flow-title">履歴の削除</h3>
                    <div class="tab__flow-body">
                      <div class="tab__flow-img7">
                        <img
                          src="./assets/images/android_8@2x.webp"
                          alt="ホーム画面の画像"
                          width="316"
                          height="294"
                          loading="lazy"
                        />
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div class="support l-support">
        <div class="support__inner inner">
          <div class="support__content">
            <div class="support__buttons">
              <div class="support__button">
                <a href="support.html#info" class="support-button"
                  ><span>利用規約</span></a
                >
              </div>
              <div class="support__button">
                <a href="support.html#faq" class="support-button"
                  ><span>よくある質問</span></a
                >
              </div>
            </div>
            <div class="support__dl dl-block">
              <div class="dl-block__img">
                <img
                  src="./assets/images/dl-img.svg"
                  alt="おん達｜文理のはつおん上達アプリ"
                  width="309"
                  height="151"
                  loading="lazy"
                />
              </div>
              <div class="dl-block__buttons dl-buttons--small">
                <div class="dl-buttons__button">
                  <a
                    href="https://apps.apple.com/jp/app/id1498426803"
                    class="dl-buttons__app"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="./assets/images/dl-app@2x.webp"
                      alt="AppStoreからダウンロード"
                      width="152"
                      height="56"
                      loading="lazy"
                  /></a>
                  <p class="dl-buttons__text">iPhone/iPadはこちらから</p>
                </div>
                <div class="dl-buttons__button">
                  <a
                    href="https://play.google.com/store/apps/details?id=jp.co.bunri.ontatsu.en.android&hl=ja
                      "
                    class="dl-buttons__google"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="./assets/images/dl-google@2x.webp"
                      alt="GooglePlayで手に入れよう"
                      width="189"
                      height="56"
                      loading="lazy"
                  /></a>
                  <p class="dl-buttons__text">Androidスマホはこちらから</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info l-info">
        <div class="info__inner inner">
          <div class="info__content">
            <div class="info__info">
              <p class="info__info-head">注意</p>
              <div class="info__info-body">
                <p class="info__info-text">
                  Androidの方はGoogleアカウント、iPhoneの方はApple
                  IDが必要です。<br />
                  ios11以上 / Android8.0以上を推奨環境とします。<br />
                  （最新の対応OSや対応機種については、各ストアでご確認ください。）<br />
                  お客様のネット環境および携帯端末により、アプリをご利用いただけない場合があります。<br />
                  ご理解、ご了承いただきますよう、お願いいたします。<br />
                  タブレットなどの一部の端末では画面表示がくずれることがあります。<br />
                  本アプリは無料ですが、別途各通信会社の通信料がかかります。<br />
                  本サービスは予告なく内容を変更することや、終了することがあります。
                </p>
              </div>
            </div>
            <div class="info__nav">
              <ul class="info-nav__list">
                <li class="info-nav__item">
                  <a href="#intro">おん達のここがすごい</a>
                </li>
                <li class="info-nav__item">
                  <a href="#usage">アプリの使い方</a>
                </li>
                <li class="info-nav__item">
                  <a href="support.html#info">利用規約</a>
                </li>
                <li class="info-nav__item">
                  <a href="support.html#faq">よくある質問</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="totop js-totop">
      <button>
        <img
          src="./assets/images/totop.svg"
          alt="トップへ戻る"
          width="67"
          height="67"
          loading="lazy"
        />
      </button>
    </div>
    <%- include('ejs/footer'); %>
  </body>
</html>
