<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- meta情報 -->
    <title>おん達 ｜ 利用規約</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- ogp -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!-- ファビコン -->
    <link rel="icon" href="" />
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- JavaScript -->
    <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script defer src="./assets/js/script.js"></script>
  </head>
  <body>
    <%- include('ejs/header'); %>
    <main class="l-main">
      <section class="mv">
        <div class="mv__inner inner">
          <div class="mv__wrapper">
            <div class="mv__content">
              <h2 class="mv__title">小学教科書ワーク英語　無料付録アプリ</h2>
              <div class="mv__title-wrap">
                <div class="mv__title-img">
                  <img
                    src="./assets/images/mv-title.svg"
                    alt="文理のはつおん上達アプリ｜おん達"
                    width="293"
                    height="121"
                  />
                </div>
                <div class="mv__risukero">
                  <img
                    src="./assets/images/mv-risukero.svg"
                    alt="リスとカエルのイラスト"
                    width="169"
                    height="126"
                  />
                </div>
              </div>
              <p class="mv__read">
                英語の発音をAIが採点！<br class="u-mobile" />
                発音がどんどん上手に！
              </p>
              <div class="mv__bottom-wrap">
                <div class="mv__img">
                  <img
                    src="./assets/images/mv-img@2x.webp"
                    alt="小学教科書ワーク｜英語"
                    width="180"
                    height="118"
                  />
                </div>
                <div class="mv__text-wrap">
                  <p class="mv__text">
                    『小学教科書ワーク 英語』の<br /><span class="mv__keyword"
                      >わくわく英語カード</span
                    ><span class="test">と</span
                    ><span class="mv__keyword--large"
                      >「重要表現まるっと整理」</span
                    ><br />に対応しています
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="info" class="sup-info">
        <h2 class="sup-info__head section-head">利用規約</h2>
        <div class="sup-info__inner inner">
          <div class="sub-info__wrapper">
            <div class="sub-info__content">
              <p class="sub-info__date">令和6年3月1日</p>
              <h3 class="sub-info__title">
                「文理のはつおん上達アプリ　おん達」<span>利用規約</span>
              </h3>
              <ul class="sub-info__items">
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第1条（総則）</dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              「文理のはつおん上達アプリ　おん達」利用規約（以下「本規約」といいます）は、株式会社文理（以下「当社」といいます）が運営するアプリ「文理のはつおん上達アプリ　おん達」（以下「本サービス」といいます）の利用条件を定めたものです。本サービスの利用を希望する者（以下「利用者」といいます）は、本規約に同意のうえ、本サービスを利用するものとします。
                            </li>
                            <li class="sub-info__description-number">
                              本規約以外の本サービスに関するヘルプ、ガイドページ等の記載も本規約の一部を構成するものとします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第2条（本規約の変更）</dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              当社は以下の場合に、当社の裁量により、本規約を変更することができます。
                              <ol class="sub-info__description-numbers--inside">
                                <li class="sub-info__description-number">
                                  本規約の変更が、利用者の一般の利益に適合するとき。
                                </li>
                                <li class="sub-info__description-number">
                                  本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性、変更の内容その他の変更に係る事情に照らして合理的なものであるとき。
                                </li>
                              </ol>
                            </li>
                            <li class="sub-info__description-number">
                              当社は前項による本規約の変更にあたり、変更後の本規約の効力発生日の１か月前までに、本規約を変更する旨及び変更後の本規約の内容とその効力発生日を本サービスおよびヘルプページ等に掲示し、利用者に通知するものとします。
                            </li>
                            <li class="sub-info__description-number">
                              変更後の本規約の効力発生日以降に利用者が本サービスを利用したときは、利用者は、本規約の変更に同意したものとみなします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第3条（利用登録）</dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              本サービスを利用するためには、本サービスをスマートフォン等の端末（以下「端末」といいます）にインストールした時点において、本サービス利用契約が締結され、本サービスを利用できるものとします。
                            </li>
                            <li class="sub-info__description-number">
                              利用者が未成年の場合、当該利用者は親権者等（以下「法定代理人」といいます）の同意を得たうえで本サービスの利用をするものとし、当社は当該利用者が本サービスをインストールした時点で、法定代理人の同意を得たうえで申し込みを行ったものとみなします。この場合は、当該法定代理人は、本規約のすべてを承諾したものとします。なお、この場合、本サービスを利用することができるのは、利用者本人および法定代理人のみとします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第4条（利用者の義務）</dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              本サービスを利用するうえで必要となる一切の費用（通信費、通信機器購入代金等ですがこれに限りません）については、利用者の負担するものとします。
                            </li>
                            <li class="sub-info__description-number">
                              利用者が小学生以下の場合には、法定代理人が監督のもと本サービスを利用するものとします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第5条（利用者情報）</dt>
                        <dd class="sub-info__description">
                          当社は、本サービスに関して取得する利用者の情報について、当社の「個人情報の取り扱いについて（プライバシーポリシー）」（https://portal.bunri.jp/privacy/privacy.html）に従い取り扱うものとします。
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第6条（許諾）</dt>
                        <dd class="sub-info__description">
                          本サービスに関する知的財産権・著作権の一切は当社に帰属するものとし、利用者には、その使用権のみが許諾されます。
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第7条（サービスデータ）</dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              利用者が本サービスを利用する際に蓄積したデータ（以下「アプリデータ」といいます）及び当社が本サービスに関し保有する記事、写真、情報、データ、文書、ソフトウェア、音楽、音声、画像、映像、文字等（以下「コンテンツ」といいます）を含む一切のデータ（以下総称して「サービスデータ」といいます）については、当社の合理的判断に基づく裁量にて管理できるものとします。
                            </li>
                            <li class="sub-info__description-number">
                              サービスデータに関する権利等については、利用者は、いかなる知的財産権または請求権も有しないものとし、当社に対し、それらの複製・頒布・利用などの一切の権利を付与したものとします。
                            </li>
                            <li class="sub-info__description-number">
                              当社は、以下のいずれかの場合、利用者に事前に通知することなく、サービスデータを削除、変更することができるものとします。
                              <ol class="sub-info__description-numbers">
                                <li class="sub-info__description-number">
                                  サービスデータが本規約で定める禁止事項に抵触した場合
                                </li>
                                <li class="sub-info__description-number">
                                  当社が、本サービスの円滑な運営の妨げとなると判断した場合
                                </li>
                                <li class="sub-info__description-number">
                                  当社が、公序良俗に反するまたはそれに準ずると判断した場合
                                </li>
                                <li class="sub-info__description-number">
                                  その他当社が本サービスの運営及び管理上やむを得ないと判断した場合
                                </li>
                              </ol>
                            </li>
                            <li class="sub-info__description-number">
                              当社は、前項に定める削除・変更の判断及びその結果について、利用者に対して何ら責任を負うものではありません。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">
                          第8条（本サービス内容の変更・中断・停止）
                        </dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              当社は、本サービスの内容を変更することがあります。なお、この場合は、事前に（やむを得ない場合は事後速やかに）本サービスの変更内容を利用者に通知するものとします。
                            </li>
                            <li class="sub-info__description-number">
                              当社は、以下の事由が生じた場合には、利用者に事前に通知することなく、一時的に本サービスを中断または停止することがあります。
                              <ol class="sub-info__description-numbers--inside">
                                <li class="sub-info__description-number">
                                  本サービスまたは関連設備等の保守・メンテナンスが行われる場合
                                </li>
                                <li class="sub-info__description-number">
                                  地震・洪水・津波、停電、戦争・紛争・動乱・暴動・騒乱・労働争議等による影響により、本サービスの運営が不可能になった場合
                                </li>
                                <li class="sub-info__description-number">
                                  その他当社が正当な事由に基づき必要と判断した場合
                                </li>
                              </ol>
                            </li>
                            <li class="sub-info__description-number">
                              当社は、本条の規定により、本サービスの内容の変更・中断・停止がなされたことにより生じた利用者の損害について、一切の責任を負いません。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">
                          第9条（本サービスの終了）
                        </dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              当社は、利用者に対し相当期間を定め本サービスの終了を通知することにより、本サービスを終了させることができるものとします。
                            </li>
                            <li class="sub-info__description-number">
                              本サービスはアクセスコードの入力時点から15か月間、体験版は
                              3 か月間利用できるものとします。
                            </li>
                            <li class="sub-info__description-number">
                              利用者は本サービスの終了と同時に本サービスに関する一切の権利及び資格を失うものとします。
                            </li>
                            <li class="sub-info__description-number">
                              当社は、本サービス終了に伴う補償等に関し、法令で定められている事項を除き、一切行いません。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">
                          第10条（禁止事項および利用資格の停止等）
                        </dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              利用者は、本サービスを利用するにあたり、以下の各号に定める行為を行ってはならないものとします。
                              <ol class="sub-info__description-numbers--inside">
                                <li class="sub-info__description-number">
                                  犯罪行為に結びつく行為。
                                </li>
                                <li class="sub-info__description-number">
                                  アクセスコードを不正に使用する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  当社及び第三者の著作権、商標権、肖像権などの権利を侵害する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  当社及び第三者の財産、プライバシーなどを侵害する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  当社及び第三者を誹謗中傷する行為または名誉や信用を毀損する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  有害プログラムを含んだ情報を送信する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  本サービスの運営を妨げるような行為、または当社、本サービスの信頼を損なうような行為。
                                </li>
                                <li class="sub-info__description-number">
                                  本サービスの内容の無断転載、改変または再配布をする行為。
                                </li>
                                <li class="sub-info__description-number">
                                  募金、カンパ、寄付、布施その他名目を問わず金品の交付を受けること、または出資を募ることを目的とする行為。
                                </li>
                                <li class="sub-info__description-number">
                                  本サービスの利用により知り得た他の利用者または第三者に係る住所、氏名、電話番号等の個人情報を他に開示または漏洩する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  1
                                  自らまたは第三者を利用して、相手方に対し、暴力的行為、詐術、脅迫的言動、業務妨害等の行為。
                                </li>
                                <li class="sub-info__description-number">
                                  その他、本規約もしくは法令に違反し、または公序良俗に反する行為。
                                </li>
                                <li class="sub-info__description-number">
                                  1
                                  前各号に定めるほか、当社が不適当と認める行為。
                                </li>
                              </ol>
                            </li>
                            <li class="sub-info__description-number">
                              利用者は、本規約に違反し、当社もしくは第三者に損害を与えた場合、当該利用者は、その損害を賠償する義務を負うものとします（損害には弁護士費用を含むものとします）。
                            </li>
                            <li class="sub-info__description-number">
                              当社は、利用者が次のいずれかの事由に該当し、またはその恐れがあると判断した場合、事前に通知または催告することなく、本サービスの利用資格を停止する等適宜の措置をとることができます。
                              <ul class="sub-info__description-numbers">
                                <li class="sub-info__description-number">
                                  第1項に定める禁止行為を行った場合
                                </li>
                                <li class="sub-info__description-number">
                                  利用登録その他本サービスに関して、虚偽の申告があった場合
                                </li>
                                <li class="sub-info__description-number">
                                  過去に当社から利用資格を停止されたことがある利用者であることが判明した場合
                                </li>
                                <li class="sub-info__description-number">
                                  暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であることが判明したとき
                                </li>
                                <li class="sub-info__description-number">
                                  本規約に違反した場合
                                </li>
                              </ul>
                            </li>
                            <li class="sub-info__description-number">
                              当社は、前項の処分に関連して、当該利用者に損害が発生しても、その責任を一切負いません。また、当該処分についての説明・苦情等の受付に応じる義務はないものとします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">
                          第11条（本サービスについての免責）
                        </dt>
                        <dd class="sub-info__description">
                          <ol class="sub-info__description-numbers">
                            <li class="sub-info__description-number">
                              当社は、利用者の本サービスの利用にあたり、第7条第4項、第8条第3項及び以下各号に掲げる事項について、免責されるものとします。
                              <ol class="sub-info__description-numbers--inside">
                                <li class="sub-info__description-number">
                                  当社は、アプリデータが正確に保存されることを保証いたしません。また、利用者のアクセスコードの失効・喪失についても保証いたしません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、利用者が端末から本サービスのアプリをアンインストールしたことにより消失したアプリデータを復元する義務を負わず、またそれにより利用者に発生した損害または不利益につき、一切の責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、利用者のアカウントが第三者に使用されることにより、当該利用者または第三者が損害を被ったとしても、当該損害について一切の責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、本サービスの内容、利用者に提供する情報、利用者により記録される情報の内容の正確さ・有用さについていかなる保証も行いません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、本サービス内の表示が完全、正確であることについて、いかなる保証も行いません。
                                </li>
                                <li class="sub-info__description-number">
                                  利用者は、本サービスの利用に関連し、他の利用者または第三者との間にトラブル等が生じた場合には、自己の責任と費用をもって解決するものとし、当社のみに重大な過失がある場合を除き、当社は一切の責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、本サービス上のエラー・バグ等の有無またはコンピュータウイルスの侵入がないこと、その他安全な本サービスの提供に関して保証するものではありません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、電子通信事業者・電気事業者等の都合により生じる利用者の損害または不利益について一切の責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  本サービスを利用したことにより、利用者の環境や機器等に何らかの不具合または損害が発生した場合、当社のみに重大な過失がある場合を除き、当社はこれらに対する補償・賠償を一切行うものではありません。
                                </li>
                                <li class="sub-info__description-number">
                                  当社は、本サービスの利用に関し、利用者に損害または不利益が発生したとしても、当社のみに重大な過失がある場合を除き一切の責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  1
                                  当社は、サービスデータの管理に最善を尽くしますが、万が一それが何らかの事由で一部または全部が消失したとしても、当社はその責任を負いません。
                                </li>
                                <li class="sub-info__description-number">
                                  利用者は、本規約に定められる利用条件を満たしたうえで本サービスを利用するものとし、利用条件を満たさずに本サービスを利用したことによるいかなる結果についても当社は一切の責任を負いません。また、利用条件を満たした場合でも、何ら動作保証をするものではありません。
                                </li>
                              </ol>
                            </li>
                            <li class="sub-info__description-number">
                              利用者は、自己の責任に基づいて本サービスを利用するものとし、当社は利用者の活動には関与せず、利用者間又は利用者と第三者の間で紛争が生じた場合でも紛争の当事者間で解決するものとし、当社のみに重大な過失がある場合を除き、当社は一切の責任を負わないものとします。
                            </li>
                            <li class="sub-info__description-number">
                              当社は、本サービスに起因して利用者に生じた損害について、当社のみに重大な過失がある場合を除き、一切の責任を負いません。
                            </li>
                            <li class="sub-info__description-number">
                              当社の過失（重過失を除く）による債務不履行または不法行為により利用者に生じた損害の賠償を行う場合、損害の範囲は、利用者が直接かつ現実に被った通常損害とします。
                            </li>
                          </ol>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第12条（知的財産権等）</dt>
                        <dd class="sub-info__description">
                          本サービスにおいて利用されている一切のコンテンツについての著作権及びその他知的財産権は、当社または当社にその利用を許諾した権利者に帰属し、利用者は無断で複製・譲渡・貸与・翻訳・改変・転載・公衆送信（送信可能化を含みます）・伝送・配布・出版・営業その他一切の利用をしてはならないものとします。
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第13条（準拠法）</dt>
                        <dd class="sub-info__description">
                          本サービス及び本規約は日本法に基づいて解釈されるものとします。
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
                <li class="sub-info__item">
                  <div class="sub-info__term">
                    <dl class="sub-info__items">
                      <div class="sub-info__item">
                        <dt class="sub-info__term">第14条（合意管轄）</dt>
                        <dd class="sub-info__description">
                          本サービスに起因する当社と利用者間の紛争については、東京地方裁判所をもって第一審の専属的合意管轄裁判所とします。<br />
                          本規約は、令和6年3月1日から実施します。
                        </dd>
                      </div>
                    </dl>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="faq" class="sup-faq l-sub-faq">
        <h2 class="sup-faq__head section-head">よくある質問</h2>
        <div class="sup-faq__inner inner">
          <ul class="faq-list">
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question is-open">
                アクセスコードを入力してもログインできません
              </p>
              <div class="faq-list__item-answer is-open">
                <p class="faq-list__item-text">
                  トップ画面のタイトルの下の表紙画像からロックが外れていれば、その画像をタップしていただくことでログインできます。
                </p>
                <div class="faq-list__item-img">
                  <img
                    src="./assets/images/QA@2x.webp"
                    alt="サンプル画像"
                    width="180"
                    height="169"
                    loading="lazy"
                  />
                </div>
                <p class="faq-list__item-text">
                  画像のようになっておらず、アクセスコードを入力しても「エラーメッセージが出て進めない」「ログインボタンが押せるようにならない」という状態である場合、何らかの不具合の可能性がございます。<br />
                  大変お手数ですが、「お問い合わせ」よりご連絡ください。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                発音はどのような基準で採点されていますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  単語や文章の音読、英語での面接の録音データとサインウェーブ社独自の採点基準をもとに、人によって採点したデータをAIが学習して、採点を行っています。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                「流暢度」、「発音」、「完成度」とは何を表していますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  「流暢度」はどれくらいなめらかに話せているか、「発音」はどれくらい正確に発音できているか、「完成度」は読み漏れてしまった単語はないかという観点での点数を表しています。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                アクセスコードはどこに書いてありますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  アクセスコードは「小学教科書ワーク　英語」の２ページ、および「チャレンジ！
                  スピーキング」の最初のページに記載されています。<br />
                  ※わくわく英語ドリルに付属する体験版のアクセスコードは、同ドリルの１ページに記載されています。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                アプリの利用に料金はかかりますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  アプリの利用に料金はかかりません。ご使用の端末の通信会社の通信料は別途かかります。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                アプリはどれくらいの期間利用できますか？　また、いつから利用開始となりますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  利用期間を過ぎてのご利用はできません。<br />※兄弟姉妹でご利用なさりたいときは、お問い合わせください。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                お手本の音声は合成された音声ですか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  お手本の音声は合成音声ではありません。ネイティブスピーカーであるプロのナレーターによるものです。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                内容は教科書に合っていますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  特定の教科書に合わせて作成されてはいません。各教科書の内容を調べ、なるべく多くの読者様に合うように作成しています。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                １つのアプリで同じ学年を２つ以上登録できますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  できません。各学年１つまで登録できます。
                </p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                スマートフォン等の端末を変えた場合、学習履歴は引き継がれますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">引き継がれません。</p>
              </div>
            </li>
            <li class="faq-list__item">
              <p class="faq-list__item-question js-faq-question">
                リスとカエルのキャラクターに名前はありますか？
              </p>
              <div class="faq-list__item-answer">
                <p class="faq-list__item-text">
                  リスに似ているキャラクターは「りっすん」、カエルに似ているキャラクターは「すぴっけろ」という名前です。
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="sub-contact l-sub-contact">
        <div class="sub-contact__inner inner">
          <div class="sub-contact__content">
            <p class="sub-contact__head">解決しない場合…</p>
            <p class="sub-contact__text">
              下記フォームよりお問い合わせください。
            </p>
            <div class="sub-contact__button">
              <a href="" class="support-button--green"
                ><span>おん達問い合わせフォーム</span></a
              >
            </div>
            <p class="sub-contact__text--small">
              ※スマートフォンの機種・OSのバージョンを<br
                class="u-mobile"
              />添えていただくとスムーズです。
            </p>
            <div class="sub-contact__dl dl-block">
              <div class="dl-block__img">
                <img
                  src="./assets/images/dl-img.svg"
                  alt="おん達｜文理のはつおん上達アプリ"
                  width="309"
                  height="151"
                  loading="lazy"
                />
              </div>
              <div class="dl-block__buttons dl-buttons--small">
                <div class="dl-buttons__button">
                  <a
                    href="https://apps.apple.com/jp/app/id1498426803"
                    class="dl-buttons__app"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="./assets/images/dl-app@2x.webp"
                      alt="AppStoreからダウンロード"
                      width="152"
                      height="56"
                      loading="lazy"
                  /></a>
                  <p class="dl-buttons__text">iPhone/iPadはこちらから</p>
                </div>
                <div class="dl-buttons__button">
                  <a
                    href="https://play.google.com/store/apps/details?id=jp.co.bunri.ontatsu.en.android&hl=ja
                      "
                    class="dl-buttons__google"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><img
                      src="./assets/images/dl-google@2x.webp"
                      alt="GooglePlayで手に入れよう"
                      width="189"
                      height="56"
                      loading="lazy"
                  /></a>
                  <p class="dl-buttons__text">Androidスマホはこちらから</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer-nav l-sub-footer-nav">
        <div class="sub-footer-nav__inner">
          <div class="info-nav">
            <ul class="info-nav__list">
              <li class="info-nav__item">
                <a href="/#intro">おん達のここがすごい</a>
              </li>
              <li class="info-nav__item">
                <a href="/#usage">アプリの使い方</a>
              </li>
              <li class="info-nav__item">
                <a href="#info">利用規約</a>
              </li>
              <li class="info-nav__item">
                <a href="#faq">よくある質問</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <div class="totop js-totop">
      <button>
        <img
          src="./assets/images/totop.svg"
          alt="トップへ戻る"
          width="67"
          height="67"
          loading="lazy"
        />
      </button>
    </div>
    <%- include('ejs/footer'); %>
  </body>
</html>
